<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"
	content="text/html; charset=utf-8">
        <script src="rubrics.js"></script>	
        <title>Список рубрик</title>
    </head>
    <body>
        <div id="list"></div>
        <form id="rubric_form" method="post">
            <input type="hiden" name="id" id="id">
            <p>Название: <input name="name" id="name"></p>
            <p><input type="reset" value="Очистить">
            <input type="submit" value="Сохранить"></p>
        </form>     
    </body>
</html>
